header.centered-text h1 
	{
		font-size: 64px;
		margin-bottom: 24px;
		margin-top:10px;
		line-height: 48px;
		font-weight: 600;
	}

.h1_bold
	{
		font-size: 64px!important;
		margin-bottom: 24px;
		margin-top:10px;
		line-height: 64px!important;
		font-weight: 600;
	}
.h1_bold_2
	{
		font-size: 48px!important;
		margin-bottom: 24px;
		margin-top:10px;
		line-height: 48px!important;
		font-weight: 600;
	}

.center {
    position: relative;
    width: 100%;
}

/* BUTTONS */

.btn {
  background: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  min-width: 155px;
}
.btn:hover {
  background: none;
  color: #fff;
  border-color: #3498db;
  background-color: #3498db;
}
.btn-primary {
  border-radius: 25px;
  display: inline-block;
  padding: 14px 28px 13px 28px;
  line-height: 1;
  border: 2px solid #3498db;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3498db;
}
.btn-primary.btn-filled {
  background: #3498db;
  color: #fff;
}
.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
  color: #333333;
  border-color: #fff;
}
.btn-white.btn-filled {
  background: #fff;
  color: #000;
}
.btn-grey {
  border-color: #777777;
  color: #333;
}
.btn-grey:hover {
  background-color: #333333;
  color: #fff;
  border-color: #333333;
}

.btn-yellow {
  border-color: #ffe600;
  background-color: #ffe600;
  color: #333;	
}

.btn-yellow:hover {
	background-color: #333;
	color: #fff;
	border-color: #333;
}

.btn-lg {
  padding: 18px 40px;
}
.btn-sm {
  padding: 10px 28px;
  font-size: 11px;
}
.btn-xs {
  padding: 8px 24px;
  font-size: 10px;
}
.btn-text-only {
  border-color: rgba(0, 0, 0, 0);
}
.btn-text-only:hover {
  background: none;
  color: #777;
  border-color: rgba(0, 0, 0, 0);
}
